{% extends 'layout.twig' %}

{% block body %}
    <h1>{{ title }}</h1>
    <div class="mb-3">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab"
                   aria-controls="home" aria-selected="true">Articles count</a>
            </li>
        </ul>
    </div>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            {% include './analytic/articlesCount.twig' %}
        </div>
    </div>

    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script type="text/javascript" src="/javascripts/analytic.js"></script>
{% endblock %}
